
@model ConsoleAppProject.App01.DistanceConverter
@using ConsoleAppProject.App01  
@{
    ViewData["Title"] = "Mohammad Qasim Matloob DistanceConverter";
}
<header class="text-center jumpboton justify-content-center">

    <h1>App01: DistanceConverter</h1>
    <h2>By Mohammad Qasim Matloob</h2>
    <p>
        This app will convert a distance enteretd in one unit into
        the equivalent distance measured in another unit. 
    </p>
</header>

<from method="post">
    <h2>Convert from:</h2>

    <p>
        <label>From Unit: </label>
        <select asp-for="@Model.FromUnit">
            <option>@DistanceConverter.MILES</option>
            <option>@DistanceConverter.METRES</option>
            <option>@DistanceConverter.FEET</option>
        </select>
    </p>

    <p>
        @if (Model.FromDistance == 0)
        {
            <input type="text" asp-for="@Model.FromDistance" value=""
                   placeholder="From Distance" required />
        }
        else
        {
            <imput type="text" asp-for="@Model.FromDistance"
                   placeholder="From Distance" required />

        }
    </p>
    <h2> onvert to:</h2>
    <p>
        <label> To Unit:</label>
        <selct asp-for="@Model.ToUnit">
            <option> @DistanceConverter.MILES</option>
            <option>@DistanceConverter.METRES</option>
            <option>@DistanceConverter.FEET</option>
            </select>
    </p>
    <p>
        @if (Model.ToDistance == 0)
        {
            <input type="text" asp-for="@Model.ToDistance" value=""
                   placeholder="To Distance" readonly />
        }
        else
        {
            <imput type="text" asp-for="@Model.ToDistance"
                   value="@Model.ToDistance.ToString("0.00")"placeholder="To Distance" readonly/>

        }
    </p>

<p>
    <button class="btn btn-success" type="submit">Calculate</button>
</p>
</from>

